.about {
  margin-bottom: rem-px(2 * $container-padding-x);
  &__col {
    flex: 0 0 100%;
    max-width: 100%;

    &--right {
      text-align: center;
      img {
        max-width: 350px;
      }
    }
  }

  &__title {
    font-family: $accentFont;
    @include font-rem-px(33);
    line-height: 60/66 * 1em;
    text-align: center;
    margin: 0.5em 0 0.75em;
  }

  &__text {
    text-align: center;
  }

  @include media-breakpoint-up(sm) {
    margin-right: 0;
    align-items: center;
    &__col {
      flex: 0 0 50%;
      max-width: 50%;

      &--right {
        order: 1;
        padding: 0;
        img {
          max-width: 100%;
        }
      }
    }

    &__title,
    &__text {
      text-align: left;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: rem-px(4 * $container-padding-x);
    margin-bottom: rem-px(4 * $container-padding-x);
    &__title {
      @include font-rem-px(66);
    }
  }
}
