.button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: rem-px(10) rem-px(35);
  font-size: 1rem;
  line-height: 1;
  border-radius: rem-px(6);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &--xl {
    padding: rem-px(15) rem-px(35) rem-px(11);
    @include font-rem-px(20);
    font-weight: 700;
    text-transform: uppercase;
  }

  &--blue {
    background: $blue;
    &:hover {
      color: #fff;
      background: darken($blue, 10);
    }
  }

  &--outline {
    @include font-rem-px(14);
    border-color: #fff;
    font-weight: 700;

    &:hover {
      color: #fff;
      background: rgba(#fff, 0.2);
    }

    &_base {
      @extend .button--outline;
      color: $textColor;
      border-color: $textColor;

      &:hover {
        color: #fff;
        background: $orange;
        border-color: orange;
      }
    }
  }
}
