.follow {
  background: url(../images/follow__bg.jpg) no-repeat center;
  background-size: cover;
  padding: rem-px(80) 0;
  &__title {
    text-align: center;
    margin: 0 0 1em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: $accentFont;
    @include font-rem-px(30);
    line-height: 1;
    @include media-breakpoint-up(sm) {
      @include font-rem-px(50);
    }
    @include media-breakpoint-up(md) {
      @include font-rem-px(60);
    }
  }
}

.social {
  margin: 0;
  padding: 0;
  text-align: center;
  &__item {
    padding: rem-px($container-padding-x);
    display: inline-block;
    vertical-align: middle;
    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
    }
    @include media-breakpoint-up(md) {
      padding: 0 rem-px(1.9 * $container-padding-x);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: rem-px(97);
    height: rem-px(97);
    border: 5px solid #ffffff;
    border-radius: 50%;

    .inline-svg {
      height: auto;
    }

    &--fb {
      background: rgba(#1877f2, 0.9);
      .inline-svg {
        width: rem-px(28);
      }
      &:hover {
        background: #1877f2;
      }
    }

    &--instagram {
      background: rgba(#c32aa3, 0.9);
      .inline-svg {
        width: rem-px(52);
      }
      &:hover {
        background: #c32aa3;
      }
    }

    &--dianping {
      background: rgba(#ff6633, 0.9);
      .inline-svg {
        width: rem-px(60);
      }
      &:hover {
        background: #ff6633;
      }
    }

    &--tripadvisor {
      background: rgba(#00af87, 0.9);
      .inline-svg {
        width: rem-px(68);
      }
      &:hover {
        background: #00af87;
      }
    }
  }

  &--xs {
    .social {
      &__item {
        padding: 0 rem-px(15);
      }

      &__icon {
        width: rem-px(35);
        height: rem-px(35);
        border: 1px solid transparent;
        border-radius: 50%;

        &--fb {
          border-color: #1877f2;
          background: transparent;
          .inline-svg {
            width: rem-px(28 * 0.37);
            path {
              fill: #1877f2;
            }
          }
          &:hover {
            background: rgba(#1877f2, 0.2);
          }
        }

        &--instagram {
          border-color: #c32aa3;
          background: transparent;
          .inline-svg {
            width: rem-px(52 * 0.37);
            path {
              fill: #c32aa3;
            }
          }
          &:hover {
            background: rgba(#c32aa3, 0.2);
          }
        }

        &--dianping {
          border-color: #ff6633;
          background: transparent;
          .inline-svg {
            width: rem-px(60 * 0.37);
            path {
              fill: #ff6633;
            }
          }
          &:hover {
            background: rgba(#ff6633, 0.2);
          }
        }

        &--tripadvisor {
          border-color: #00af87;
          background: transparent;
          .inline-svg {
            width: rem-px(68 * 0.37);
            path {
              fill: #00af87;
            }
          }
          &:hover {
            background: rgba(#00af87, 0.2);
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      text-align: left;
      .social__item {
        &:first-child {
          padding-left: 0;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .social__item {
        padding: 0 rem-px($container-padding-x * 0.75);
      }
    }
  }
}
