.header {
  position: relative;
  padding: rem-px(40) 0 rem-px(20);
  background: url(../images/body--top.svg) repeat-x;
  background-size: auto rem-px(20);
  z-index: 5;
  @include media-breakpoint-up(md) {
    padding-top: rem-px(40);
  }

  &__row {
    align-items: center;
  }

  &__logo {
    min-width: 150px;
    width: (238+2 * $container-padding-x)/1440 * 100%;
    max-width: (238 + 2 * $container-padding-x) * 1px;
    .firs-letter,
    .logo-b,
    .logo-word {
      fill: $blue;
      transition: fill 0.25s ease-in-out;
    }
    a {
      display: block;
      line-height: 0;
      &:hover {
        .firs-letter,
        .logo-b,
        .logo-word {
          fill: $orange;
          transition: fill 0.25s ease-in-out;
        }
      }
    }
  }

  .burger__line {
    background: $textColor;
  }

  &--home {
    .header__logo {
      .firs-letter,
      .logo-b,
      .logo-word {
        fill: #fff;
        transition: fill 0.25s ease-in-out;
      }
    }
    @include media-breakpoint-up(md) {
      .header__logo a {
        display: none;
      }
    }
    .navigation {
      @include media-breakpoint-up(md) {
        &__link {
          color: #fff;
          &:hover {
            color: $orange;
          }
          &--button {
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    .burger__line {
      background: #fff;
    }
  }
}

.navigation {
  position: fixed;
  top: rem-px(20);
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 200;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  overflow: auto;
  &--is_open {
    transform: translate3d(0, 0, 0);
  }

  &__list {
    margin: 0;
    padding: 15px 0 0;
    list-style: none;
  }

  &__item {
    padding: 0 rem-px(20);
  }

  &__link {
    display: inline-block;
    padding: 10px 0;
    @include font-rem-px(16);
    font-weight: 700;
    text-transform: uppercase;
    color: $textColor;

    &--button {
      margin-top: 4px;
      padding: rem-px(6) 12px;
      color: #fff;
      background: $orange;
      border-radius: 3px;

      &:hover {
        color: #fff;
        background: darken($orange, 10);
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: relative;
    top: 0;
    transition: none;
    transform: translate3d(0, 0, 0);
    background: transparent;

    &__list {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    &__item {
      display: block;
      padding: 0;
    }

    &__link {
      @include font-rem-px(13);
      font-size: 16/1200 * 100vw;
      padding: rem-px(7) 15px rem-px(5);
      &--button {
        margin: 0 15px 0;
        padding: rem-px(7) 15px rem-px(5);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__link {
      @include font-rem-px(16);
    }
  }
}

.lang-switcher {
  padding: 10px 0 0;
  margin: rem-px(20) rem-px(-20);
  list-style: none;
  border-top: 1px solid $blue;

  &__item {
    @extend .navigation__item;
    display: inline-block;
  }

  &__link {
    @extend .navigation__link;
  }

  @include media-breakpoint-up(md) {
    margin: 0;
    padding: 0;
    border-top: 0;

    &__link {
      padding: 0 7px;
    }

    &__item:first-child .lang-switcher__link {
      padding-left: 15px;
    }

    &__item:last-child .lang-switcher__link {
      padding-right: 0;
    }
  }
}

.burger {
  display: block;
  width: 30px;
  height: 26px;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  z-index: 300;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  &__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background: #fff;
    transform: rotate(0deg);
    transition: all 0.25s ease;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 11px;
    }
    &:nth-child(4) {
      top: 22px;
    }
  }

  &--is_open {
    z-index: 300;
    .burger__line {
      background: $orange;
      &:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}
