.news {
  padding-bottom: rem-px(40);

  &__heading {
    position: relative;
    margin: 0 0 40/48 * 1em;
    text-align: center;
    font-family: $accentFont;
    font-family: $accentFont;
    @include font-rem-px(48);
    line-height: 60/48 * 1em;
    font-weight: 500;
    span {
      display: inline-block;
      background: #fff;
      position: relative;
      z-index: 3;
      padding: 0 rem-px(10);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: rem-px(22);
      border: rem-px(2) dashed $orange;
    }
  }

  &__article {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: rem-px(40);
  }

  &__thumbnail {
    a {
      display: block;
      background: $orange;
      line-height: 0;

      &:hover img {
        opacity: 0.5;
      }
    }

    img {
      transition: 0.3s ease-in-out;
    }
  }

  &__meta {
    color: #b8b8b8;
    @include font-rem-px(16);
    font-weight: 600;
    line-height: 35/16 * 1em;
  }

  &__title {
    margin: 0;
    @include font-rem-px(25);
    font-weight: 600;
    line-height: 29/25 * 1em;
    text-transform: uppercase;
    a {
      color: inherit;
      &:hover {
        color: darken($orange, 10);
      }
    }
  }

  &--page {
    .news__title {
      margin: 0.5em 0;
    }
    .news__excerpt {
      margin: 0.6em 0 0;
    }
  }

  @include media-breakpoint-up(sm) {
    &__row {
      margin-left: 0;
      margin-right: 0;
    }

    &__article {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &--page {
      .news {
        &__row {
          margin-right: rem-px(-$container-padding-x);
          margin-left: rem-px(-$container-padding-x);
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__wrapper {
      padding-top: rem-px(2 * $container-padding-x);
    }
    &--page {
      .news {
        &__article {
          display: flex;
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: rem-px(4 * $container-padding-x);

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__thumbnail,
        &__inner {
          flex: 0 0 50%;
          max-width: 50%;
        }

        &__thumbnail {
          padding-right: rem-px($container-padding-x);
        }

        &__inner {
          padding-left: rem-px($container-padding-x);
        }

        &__title {
          margin-top: -4px;
        }
      }
    }
  }
}

.pagination {
  margin: rem-px($container-padding-x) 0 rem-px(2 * $container-padding-x);
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 5px;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    a {
      color: $textColor;
      padding: 0.25em 0.5em;

      &:hover {
        color: $orange;
      }
    }

    &--is_active {
      a {
        border-radius: 3px;
        color: #fff;
        background: $orange;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
