.promo {
  position: relative;
  min-height: 100vh;
  background: url(../images/promo.jpg) no-repeat 0 50%;
  background-size: cover;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }
  &::before {
    top: rem-px(20);
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#090909, 0.4);
    z-index: 2;
  }
  &::after {
    width: 504/1440 * 100%;
    max-width: 504px;
    height: 100%;
    max-height: 774px;
    bottom: 0;
    right: 113/1440 * 100%;
    background: url(../images/promo__chef.png) no-repeat center bottom;
    background-size: 100% auto;
    z-index: 3;
  }

  &__content {
    position: relative;
    z-index: 3;
    text-align: center;
    padding-top: 75px;
  }

  &__logo {
    line-height: 0;
    padding: 0 0 rem-px(50);

    .inline-svg {
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-up(sm) {
    min-height: 375/568 * 100vw;
    &__content {
      width: 614/1160 * 100%;
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 75vw;

    &__content {
      padding-top: 130/1124 * 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 650/992 * 100vw;
  }
  @include media-breakpoint-up(xl) {
    min-height: 740/1200 * 100vw;
    max-height: 912px;
  }
  @include media-breakpoint-up(xxl) {
    min-height: 912px;
    height: 912px;
  }
}
