.taps {
  margin-bottom: rem-px(2 * $container-padding-x);
}

.tap {
  display: flex;
  flex-wrap: wrap;
  background: $blue;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: rem-px($container-padding-x);
    width: 100%;

    &--justify_flex-start {
      justify-content: flex-start;
    }
  }

  &__title {
    width: 100%;
    font-family: $accentFont;
    @include font-rem-px(30);
    line-height: 1em;
    color: #fff;
    text-align: center;
    margin: 0 0 0.5em;

    &--align_left {
      text-align: left;
    }

    &--size_xl {
      @include font-rem-px(33);
    }
  }

  &__image {
    width: 100%;
    height: 0;
    padding-top: 244/288 * 100%;
    line-height: 0;
    overflow: hidden;
    position: relative;

    &--has_bg {
      background: url(../images/about__team.jpg) no-repeat center;
      background-size: cover;
    }

    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__button {
    border-width: 2px;
  }

  &__text {
    color: #fff;
    p {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-content {
    width: 100%;
    padding: rem-px(2 * $container-padding-x);
    border: rem-px(10) solid $blue;
    background: #fff;
    display: none;

    &__title {
      margin: 0 0 0.8em;
      position: relative;
      color: $blue;
      font-family: $accentFont;
      @include font-rem-px(36);
      line-height: 1em;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: rem-px(12);
        border: 1px dashed $blue;
      }

      span {
        position: relative;
        z-index: 2;
        background: #fff;
        padding-right: rem-px(10);
      }
    }
  }

  &-list {
    margin: 0 0 rem-px(2 * $container-padding-x);
    padding: 0;
    list-style: none;
    &__item {
      margin-bottom: 1.75em;
    }
    &__name {
      @include font-rem-px(15);
      margin: 0 0 0.2em;
      font-weight: 700;
    }
    &__description {
      font-style: italic;
    }
  }

  &--yellow {
    background: $yellow;
    .tap-content {
      border-color: $yellow;
    }

    .tap__title,
    .button--outline {
      color: $textColor;
    }

    .button--outline {
      border-color: $textColor;
      &:hover {
        color: #fff;
        background: $orange;
        border-color: $orange;
      }
    }
  }
  &--light_blue {
    background: $lightBlue;
    .tap-content {
      border-color: $lightBlue;
    }
  }

  @include media-breakpoint-up(sm) {
    &:nth-child(odd) {
      .tap__image {
        order: 2;
      }
      .tap-content {
        order: 3;
      }
    }

    &.tap--image_first {
      .tap__image {
        order: 0;
      }
    }

    &__inner,
    &__image {
      width: 50%;
    }

    &__image {
      height: auto;
      padding-top: 0;

      img {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__title {
      @include font-rem-px(60);

      &--size_xl {
        @include font-rem-px(66);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__image {
      &--has_bg {
        height: 0;
        padding-top: 430/1160 * 100%;
      }
    }
  }
}
