@font-face {
  font-family: 'BrushScriptStd';
  src: url('../fonts/BrushScriptStd/BrushScriptStd.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/BrushScriptStd/BrushScriptStd.otf') format('opentype'),
    url('../fonts/BrushScriptStd/BrushScriptStd.woff') format('woff'),
    url('../fonts/BrushScriptStd/BrushScriptStd.ttf') format('truetype'),
    url('../fonts/BrushScriptStd/BrushScriptStd.svg#BrushScriptStd')
      format('svg');
  font-weight: 500;
  font-style: normal;
}
